body {
  min-height: 100vh;
}

.file-upload {
  position: relative;
  min-height: 150px;
}

.file-upload input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#route-map {
  min-height: 400px;
}

#routeName {
  padding-right: 30px;
}

.map-label,
.map-turn {
  position: absolute;
  bottom: 0;
  left: -50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.map-label-content,
.map-turn-content {
  order: 1;
  position: relative;
  left: -50%;
  background-color: #fff;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #444;
  padding: 3px;
  white-space: nowrap;
}
.map-turn-content {
  border-color: blue;
  font-size: 0.7rem;
  padding: 1px;
  border-width: 1px;
}

.map-label-arrow,
.map-turn-arrow {
  order: 2;
  width: 0px;
  height: 0px;
  left: 50%;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  border-width: 10px 6px 0 6px;
  margin-left: -6px;
}
.map-turn-arrow {
  border-color: blue transparent transparent transparent;
  border-width: 10px 3px 0 3px;
  margin-left: -3px;
}

.leaflet-marker-icon:nth-child(odd) .map-turn {
  top: 0;
  bottom: initial;
}
.leaflet-marker-icon:nth-child(odd) .map-turn-content {
  order: 2;
}
.leaflet-marker-icon:nth-child(odd) .map-turn-arrow {
  order: 1;
  border-color: transparent transparent blue transparent;
  border-width: 0 3px 10px 3px;
}

.map-turn-content:after {
  content: attr(data-turn);
  display: block;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  line-height: 1;
}

.map-turn-right:after {
  content: '➡';
}
.map-turn-sharp_right:after {
  content: '⬊';
}
.map-turn-slight_right:after {
  content: '⬈';
}
.map-turn-right_fork:after {
  content: '⬈';
}
.map-turn-left:after {
  content: '⬅';
}
.map-turn-sharp_left:after {
  content: '⬋';
}
.map-turn-slight_left:after {
  content: '⬉';
}
.map-turn-left_fork:after {
  content: '⬉';
}
.map-turn-straight:after {
  content: '⬆';
}
.map-turn-u_turn:after {
  content: '↶';
}
.map-turn-danger:after {
  content: '⚠';
}
.map-turn-generic:after {
  content: '⬤';
}

.input-feedback {
  width: 20px;
  margin: -1.7rem 10px;
  float: right;
}

.input-group-text {
  width: 6rem;
}

.course-point-dialog {
  background-color: rgba(1, 1, 1, 0.5);
  display: block;
}

.form-list {
  display: grid;
  grid-template-columns: [label] fit-content(80%) [field] 1fr;
  grid-gap: 0 0.5em;
}
.form-list > dt {
  grid-column: label;
}
.form-list > dd {
  grid-column: field;
}
