body {
  min-height: 100vh;
}

.file-upload {
  position: relative;
  min-height: 150px;
}

.file-upload input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#route-map {
  min-height: 400px;
}
